{:deps {djblue/portal                     {:mvn/version "0.56.0"}}

 :paths ["src" "resources"]
 :main-opts ["-m" "nrepl.cmdline" "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware,portal.nrepl/wrap-portal,portal.nrepl/wrap-notebook]"]}